.form-container {
    margin: 10px 20px;
}

/* Descendent selector: select all button elements that are children of the elements that have the class name-input */
.name-input > button {
    margin-top: 5px;
}

.result-container {
    margin-top: 2em;
}