<div class="login-component">
    <div class="login-box">
        <div class="welcome-text">
            <h4>Welcome to Pokemon Storage</h4>
            <p>Please {{modes[mode]}} to continue</p>
        </div>
    
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" [formControl]="username">
        </div>
        <div class="form-group">
            <button class="btn btn-primary login-btn" (click)="loginHandler()">{{modes[mode]}}</button>
        </div>

        <p>or <span class="switch-btn" *ngIf="mode === 'login'" (click)="switchMode('register')">Register</span><span *ngIf="mode === 'register'" class="switch-btn" (click)="switchMode('login')">Log In</span> here</p>
    </div>
</div>